body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 20px 0 0 0;
  padding: 10px;
  max-width: 100%;
  border: 1px solid #999;
}

li p {
  margin-bottom: 0;
}

.text-muted {
  color: #6c757d !important;
}

.timeStamp {
  margin-top: 3px;
  font-size: 12px;
}

/* inputRoot {
  'label[data-shrink=false] + & ::-webkit-input-placeholder': {
    opacity: '0.5 !important';
  }
} */
